<Files ~ "hrsat.*">

	AuthName "hrsat data"
	AuthType Basic

     order deny,allow
     <IfModule mod_perl.c> 
			PerlAccessHandler auth::auth::access_handler 
	 </IfModule>

	require group inverse_ac_user_restrictions 
</Files>

